@charset "UTF-8";

/* RESET */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display: block;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{ 
	border:0;
}
address,caption,cite,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}

/* INUIT.CSS BASE STYLES */
html{
	overflow-y:scroll; /* Force scrollbars 100% of the time */
	font-size:100%; /* Use 16px as per http://www.informationarchitects.jp/en/100e2r/ and http://www.wilsonminer.com/posts/2008/oct/20/relative-readability/ */	
	font-family:Cambria, Georgia, "Times New Roman", serif;
	line-height:1.5;
	color:#333;
}
body{
	min-height:100%;
	padding:10px;
	margin:3% 0 0 5%;
}

@media screen and (min-width: 1000px) {
	main {
		width: 75%;
		max-width: 640px;
		margin-right: 5%;
		float: left;
	}

	aside {
		width: 20%;
		float: left;
	}
}




/*--- HEADINGS ---*/
h1, .xx-large {
	font-size:2em;			/* 32px */
	margin-bottom:0.75em;	/* 24px */
	line-height:1.5;		/* 48px */
}
h2, .x-large {
	font-size:1.5em;		/* 24px */
	margin-bottom:1em;		/* 24px */
	line-height:1;			/* 24px */
}
h3, .large {
	font-size:1.25em;		/* 20px */
	margin-bottom:1.2em;	/* 24px */
	line-height:1.2;		/* 24px */
}
h4, .normal{
	font-size:1.125em;		/* 18px */
	margin-bottom:1.333em;	/* 24px */
	line-height:1.333;		/* 24px */
}
h5, .small {
	font-weight:bold;
}
h5, .small,
h6, .x-small {
	font-size:1em;			/* 16px */
	margin-bottom:1.5em;	/* 24px */
	line-height:1.5;		/* 24px */
}

/*--- PARAGRAPHS ---*/
p{
	font-size: 1.125em;
	margin-bottom:1.333em;
}


/*--- LINKS ---*/

a{
	text-decoration:none;
	color:#FF0000;
}
a:visited{
	opacity:0.8; /* A bit basic, but it’s a bare minumum... */
}
a:hover{
	text-decoration:underline;
}
a:active,
a:focus{
	/* Give clicked links a depressed effect. */
	/*position:relative;
	top:1px;*/
}

/*--- LISTS ---*/
ul,
ol{
	margin:0 0 1.5em 60px;
}
ul ul,
ol ol,
ul ol,
ol ul{
	/* Let’s take care of lists in lists */
	margin:0 0 0 60px;
}
dl{
	margin-bottom:1.5em;
}
dt{
	font-weight:bold;
}
dt:after{
	content:":";
}
dt::after{
	content:":";
}
dd{
	margin-left:60px;
}


/*--- GENERAL ---*/
q,
i,
em,
cite{
	font-style:italic;
	font-weight:inherit;
}
b,
strong{
	font-weight:bold;
	font-style:inherit;
}
mark{
	background:#ffc;
}
s,
del{
	text-decoration:line-through;
}
small{
	font-size:0.75em;
	line-height:1;
}

/*--- CODE ---*/
pre,
code{
	font-family:monospace;
	font-size:1em;
}
pre{
	overflow:auto;
	margin-bottom:1.5em;
	line-height:24px;
}
code{
	line-height:1;
}


.btn {
	display: inline-block;
	padding: 1em 2em;
	margin-bottom: 2em;
	color: #FFF;
	background: #FF0000;
	border-radius: 3px;
}

	.btn:hover {
		text-decoration: none;
		background: #C30000;
	}

.profile-picture {
	display: block;
	width: 200px;
	height: 200px;
	margin-bottom: 1em;
	border: none;
	border-radius: 100%;
}

.language-switch {
	position: absolute;
	top: 3%;
	right: 3%;
}