/* line 5, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'mazza';
  src: url("../fonts/mazza.eot?1r925");
  src: url("../fonts/mazza.eot?#iefix1r925") format("embedded-opentype"), url("../fonts/mazza.woff?1r925") format("woff"), url("../fonts/mazza.ttf?1r925") format("truetype"), url("../fonts/mazza.svg?1r925#mazza") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'mazza';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_fonts.scss */
.icon-home2:before {
  content: "\e603";
}

/* line 29, ../sass/_fonts.scss */
.icon-flow-children:before {
  content: "\e604";
}

/* line 32, ../sass/_fonts.scss */
.icon-spanner:before {
  content: "\e605";
}

/* line 35, ../sass/_fonts.scss */
.icon-eye:before {
  content: "\e606";
}

/* line 38, ../sass/_fonts.scss */
.icon-refresh:before {
  content: "\e600";
}

/* line 41, ../sass/_fonts.scss */
.icon-chart-pie:before {
  content: "\e601";
}

/* line 44, ../sass/_fonts.scss */
.icon-group:before {
  content: "\e602";
}

/* line 47, ../sass/_fonts.scss */
.icon-th-menu:before {
  content: "\e607";
}

/* line 6, ../sass/resume.scss */
body {
  padding: 2.1em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  background: white;
  color: black;
}

/* line 18, ../sass/resume.scss */
h1 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.8em;
}

/* line 27, ../sass/resume.scss */
h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.05em;
}

/* line 38, ../sass/resume.scss */
p {
  margin-bottom: 0.5em;
}

/* line 44, ../sass/resume.scss */
ul {
  list-style: disc;
}

/* line 48, ../sass/resume.scss */
main {
  max-width: 1400px;
  margin: 0 auto;
}

/* line 55, ../sass/resume.scss */
section {
  margin-bottom: 2em;
}
/* line 59, ../sass/resume.scss */
section [class^="icon-"] {
  margin-bottom: 3em;
  float: left;
  -webkit-print-color-adjust: exact;
}
/* line 65, ../sass/resume.scss */
section [class^="icon-"]:before {
  display: inline-block;
  width: 2em;
  height: 2em;
  color: #464b59;
  background: #efe6c2;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 100%;
}

/* line 81, ../sass/resume.scss */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* line 89, ../sass/resume.scss */
section:last-child {
  margin-bottom: 10em;
}

/* line 93, ../sass/resume.scss */
.profile-picture {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
  border: none;
  border-radius: 100%;
}

/* line 105, ../sass/resume.scss */
.side {
  width: 15%;
  float: left;
}

/* line 112, ../sass/resume.scss */
.content {
  width: 85%;
  float: left;
}

/* line 119, ../sass/resume.scss */
.skills li {
  width: 50%;
  float: left;
}
