// Colors
$bkg: #FFF;
$frg: #444;

$neutral: #8B99AD;

$emphasis: #BD1A62;
$emphasisDark: #964B7B;


// Transition duration
$transitionDefault: 500ms;
$transitionLong: 1s;

// RWD
$small: 700px;
$medium: 1000px;
$large: 1200px;

// media queries
$min-width-small: "(min-width: $small)";
