body {

  padding: 6.2em 2.1em;
  font-size: 20px;

}

h2 {

  margin-top: 1.05em;

}

.grid-span {

  width: 30%;
  padding: 0 1.6%;
  float: left;
  font-size: 0.8em;

}


.site-title {

  text-align: center;

}


header {

  padding: 1.5em;

  .site-title {

    width: auto;

  }

  nav {

    font-size: 0.8em;

    ul {

      margin-bottom: 0;
      text-align: center;

    }

  }

}

.nav-toggle {

  top: 0.8em;
  right: 0.8em;

}


header {

  .site-title {

    padding: 0.5em 0em;
    float: left;

  }

  nav {

    display: block;
    float: right;
    margin-top: 0;
    max-height: 100px;

    &.is-active {

      max-height: 80px;
      margin-top: 0;

    }

    li {

      display: inline-block;
      margin: 0 0 0 2em;


    }

    .btn {

      margin: 0;

    }

  }

}

.nav-toggle {

  display: none;

}


header {

  .site-title {

    font-size: 1.5em;
    padding: 0.5em 1.5em;

  }

  nav {

    font-size: 1em;

    &.is-active {

      margin-top: 0;

    }

    .btn {

      margin: 0.6em 0 0;

    }

  }

}
