header {
  padding: 0.5em 1em;
  text-align: left;

  @media screen and (min-width: $small) {
    padding: 0.85em;
  }

  @media screen and (min-width: $medium) {
    padding: 0 0.5em;

    &.nav-short {
      padding: 0 0 0 0.5em;
      overflow: hidden;
    }

    &.nav-large {
      max-height: 200px;
    }
  }

  &::after {
    $offset: 150px;
    content: "";
    position: fixed;
    z-index: 1;
    top: -112px;
    left: -50px;
    display: block;
    width: 100%;
    height: 150px;
    background: $emphasis;
    transform: rotate(-10deg);

    @media screen and (min-width: $small) {
      top: -150px;
    }
  }
}

.site-title {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  width: 90%;
  font-size: 1.2em;
  padding: 0.2em 0;

  a {
    color: $bkg;
    opacity: 1;
    transition: all $transitionDefault;

    &.active {
      opacity: 0;
    }
  }

  @media screen and (min-width: $small) {
    width: auto;
  }

  @media screen and (min-width: $medium) {

    float: left;

    .nav-large & {
      line-height: 2.5em;
    }

  }

  @media screen and (min-width: $large) {

    .nav-large & {

      font-size: 1.5em;
      line-height: 1.8em;
      padding: 0.5em 1.5em;

    }

  }

}

nav {
  margin-top: 30px;
  margin-left: 0;

  @media (min-width: $small) {
    margin-left: 0;
    font-size: 0.8em;

    li {
      display: inline-block;
    }
  }

  @media screen and (min-width: $medium) {
    display: block;
    float: right;
    margin-top: 0;
    max-height: 100px;

    &.is-active {

      // max-height: 80px;
      margin-top: 0;

    }

    li {

      display: block;
      float: left;

    }

  }

  @media screen and (min-width: $large) {

    .nav-large & {

      font-size: 1em;

    }

    &.is-active {

      margin-top: 0;

    }

    .btn {

      margin: 0.6em 0 0;

    }


  }


  a {
    padding: 0 1em 4px 0;
    margin-bottom: 1em;
    display: block;
    border-left: 4px solid transparent;
    color: $neutral;

    @media screen and (min-width: $small) {
      border-top: 4px solid transparent;
      border-left: none;
    }

    &:hover {
      padding: 0 1em;
      border-left: 4px solid $emphasis;
      border-bottom: none;

      @media screen and (min-width: $small) {
        border-top: 4px solid $emphasis;
        border-left: none;
      }
    }

    transition: all 500ms;

    @media screen and (min-width: $medium) {
      padding: 0 1em 4px;
      margin-bottom: 0;
      line-height: 2.5em;

    }

    @media screen and (min-width: $medium) {
      .nav-large & {
        line-height: 3.5em;
      }
    }

    &.active {
      padding: 0 1em;
      border-left: 4px solid $neutral;

      @media screen and (min-width: $small) {
        padding: 0 1em;
        border-top: 4px solid $neutral;
        border-left: none;
      }
    }
  }


  ul {

    list-style: none;

    @media screen and (min-width: $small) {

      margin-bottom: 0;
      text-align: center;

    }

  }


  .btn {

    margin: 1em 0 0;
    padding: 0.5em 1.5em;
    font-size: 0.8em;
    border-bottom: none;

    @media screen and (min-width: $medium) {

      margin: 0;

    }

  }


}

.nav-toggle {

  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.5em;

  &:hover {

    border: none;

  }

  @media screen and (min-width: $small) {

    top: 0.8em;
    right: 0.8em;

  }

  @media screen and (min-width: $medium) {

    display: none;

  }

}
