// Colors
$bkg: #2b2d42;
$frg: #a8dadc;
$brd: #F1FAEE;

$neutral: #8B99AD;

$text-dark: #457b9d;

$emphasis: #e63946;


// Transition duration
$transitionDefault: 500ms;
$transitionLong: 1s;

// RWD
$small: 700px;
$medium: 1000px;
$large: 1200px;

// media queries
$min-width-small: "(min-width: $small)";

$site-border: 1rem;
$site-border-small: 3rem;

$site-padding: 3rem;
$site-padding-small: 7rem;
