header {

	margin-bottom: 2em;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5em 1em;
	background: rgba(darken($gradientEnd, 30), 0.85);
	text-align: left;
	z-index: 100;

	@media screen and (min-width: $small) {

		padding: 0.85em;

	}

	@media screen and (min-width: $medium) {

		padding: 0 0.5em;

		&.nav-short {
			
			padding: 0 0 0 0.5em;
			overflow: hidden;

		}

		&.nav-large {
			max-height: 200px;
		}

		// @include transition(all 100ms);


	}	

}

.site-title {

	margin-bottom: 0;
	width: 90%;
	font-size: 1.2em;
	padding: 0.2em 0;

	@include transition(all $transitionDefault);

	@media screen and (min-width: $small) and (max-width: $medium) {

		text-align: center;

	}

	@media screen and (min-width: $small) {

		width: auto;

	}		

	@media screen and (min-width: $medium) {

		float: left;
		
		.nav-large & {
			line-height: 2.5em;
		}

	}

	@media screen and (min-width: $large) {

		.nav-large & {

			font-size: 1.5em;
			line-height: 1.8em;
			padding: 0.5em 1.5em;

		}

	}	

}

nav {

	max-height: 0;
	overflow: hidden;

	@media screen and (max-width: $medium) {

		@include transition(all 500ms);

		&.is-active {

			max-height: 250px;
			height: auto;
			margin-top: 1.25em;
			
		}

	}

	@media screen and (min-width: $small) {

		font-size: 0.8em;

		li {

			display: inline-block;

		}

	}

	@media screen and (min-width: $medium) {

		display: block;
		float: right;
		margin-top: 0;
		max-height: 100px;

		&.is-active {

			// max-height: 80px;
			margin-top: 0;

		}

		li {

			display: block;
			float: left;

		}

	}

	@media screen and (min-width: $large) {

		.nav-large & {

			font-size: 1em;

		}

		&.is-active {

			margin-top: 0;

		}

		.btn {

			margin: 0.6em 0 0;

		}


	}	


	a {

		padding: 0 1em 4px;
		margin-bottom: 1em;
		display: block;
		border-bottom: 0 solid transparent;

		&:hover {

			padding: 0 1em;
			border-bottom: 4px solid $light;

		}

		@include transition(all 500ms);

		@media screen and (min-width: $medium) {

			margin-bottom: 0;
			line-height: 2.5em;

		}

		@media screen and (min-width: $medium) {

			.nav-large & {

				line-height: 4.2em;

			}

		}

	}

	.active {

		a {

			padding: 0 1em;
			border-bottom: 4px solid $dark3;

		}
		
	}

	ul {

		list-style: none;

		@media screen and (min-width: $small) {

			margin-bottom: 0;
			text-align: center;

		}

	}


	.btn {

		margin: 1em 0 0;
		padding: 0.5em 1.5em;
		font-size: 0.8em;
		border-bottom: none;

		@media screen and (min-width: $medium) {

			margin: 0;

		}	

	}


}

.nav-toggle {

	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 1.5em;

	&:hover {

		border: none;

	}	

	@media screen and (min-width: $small) {

		top: 0.8em;
		right: 0.8em;

	}

	@media screen and (min-width: $medium) {

		display: none;

	}	

}