main {

	max-width: 1400px;
	margin: 0 auto;

}

section {

	margin-bottom: 33.6em;

	@include pie-clearfix;

	&:last-child {

		margin-bottom: 10em;

	}

	[class^="icon-"] {

		margin-bottom: 3em;

		&:before {

			$s: 2em;

			display: inline-block;
			width: $s;
			height: $s;
			color: $dark1;
			background: $light;
			font-size: $s;
			line-height: $s;
			text-align: center;
			border-radius: 100%;			

		}

	}

}

.profile-picture {

	width: 200px;
	height: 200px;
	margin-bottom: 1em;
	border: none;
	border-radius: 100%;

	@media screen and (min-width: $small) {

		float: left;

	}

}

.top {

	.content {

		margin: 0 5%;

		@media screen and (min-width: $small) {

			float: left;
			width: 65%;

		}

	}

}

.portfolio {

	h2 {

		font-size: 1.4em;

	}

}