@import "../assets/scss/variables.scss";

.title-container {
  margin-top: auto;
  line-height: 1;
  color: var(--color-emphasis-dark);
}

.title {
  width: min-content;
}

.subtitle {
  display: block;
  margin-top: 1em;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
