@import "../assets/scss/variables.scss";

$separator: 3rem;

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  @media (min-width: $small) {
    min-height: 0;
    margin: 1.5rem;
    height: 100%;
    margin: 0;
  }

  &:before,
  &:after {
    z-index: 1;
    position: absolute;
    font-size: 72px;
    line-height: 1em;
  }

  &:before {
    content: "{";
    top: $separator / 2;
    left: $separator / 2;
    color: var(--color-light);

    @media (min-width: $small) {
      top: $separator;
      left: 4.5rem;
    }
  }

  &:after {
    content: "}";
    bottom: $separator / 2;
    right: $separator / 2;
    color: var(--color-emphasis-dark);

    @media (min-width: $small) {
      bottom: $separator;
      right: $separator;
    }
  }

  :global(.nav-large) {
    margin-left: 30%;
  }

  :global(.nav-large a) {
    color: white;

    @media (min-width: $small) {
      color: var(--color-neutral);
    }
  }
}

.children {
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-left: 48px;
  padding-left: 35px;
  padding-right: 50px;
  padding-bottom: 50px;
  height: 100vh;
  background-color: var(--color-light);
  transform: translateX(100%);

  @media (min-width: $small) {
    margin-left: 150px;
    padding-left: 100px;
  }
}

.bkg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-emphasis);
}
