@import "../assets/scss/variables.scss";

.header-container {
  width: min-content;
  margin-top: 20px;
  margin-left: 10px;
  color: var(--color-light);
  line-height: 1.4em;

  @media (min-width: $small) {
    margin-top: -3.5rem;
    margin-left: 0;
    display: flex;
    align-items: center;
    color: var(--color-neutral);
  }
}

.site-title {
  display: block;
  position: relative;
  margin-bottom: 0;
  font-size: 2rem;
  padding: 0 1rem 0 0;
  color: inherit;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
}

.nav-container {
  margin-top: 0.5rem;
  margin-left: auto;
  font-size: 0.8em;

  a {
    display: block;
    padding: 0 1em 0 0;
    padding-left: 1em;
    margin-bottom: 1em;
    border-left: 1px solid transparent;
    color: inherit;
    transition: all 500ms;

    @media (min-width: $small) {
      margin-bottom: 0;
      padding: 0;
      border-top: 4px solid transparent;
      border-left: none;
    }

    @media (min-width: $large) {
      padding: 0.5rem 2rem;
    }

    &:hover {
      border-left-color: var(--color-emphasis);
      border-bottom: none;

      @media (min-width: $small) {
        border-top: 4px solid var(--color-emphasis);
        border-left: none;
      }
    }

    &.is-active {
      $spacer: 2em;
      border-left-color: var(--color-light);

      @media screen and (min-width: $small) {
        border-top: 4px solid var(--color-light);
        border-left: none;
      }

      @media (min-width: $large) {
        margin-left: 0;
      }
    }
  }
}

.nav-list {
  list-style: none;

  @media (min-width: $small) {
    display: flex;
    margin: 0 auto;
    min-width: 400px;
    justify-content: space-around;
  }
}
